venv
.idea/
TESS_data/light_curves_fausnaugh/
TESS_data/processed_curves/
TESS_data/mwebv_outliers.csv
TESS_data/potential_outliers.txt
TESS_data/ztf_data
__pycache__/
processed_curves_mwebv.zip
processed_curves.zip